# Homework: Huffman Coding using the Song of: Queen's The Show Must Go On.

## Original Format:
    Empty spaces, what are we living for?
    Abandoned places, I guess we know the score, on and on
    Does anybody know what we are looking for?
    Another hero, another mindless crime
    Behind the curtain, in the pantomime
    Hold the line
    Does anybody want to take it anymore?
    The show must go on
    The show must go on, yeah
    Inside my heart is breaking
    My makeup may be flaking
    But my smile, still, stays on
    Whatever happens, I'll leave it all to chance
    Another heartache, another failed romance, on and on
    Does anybody know what we are living for?
    I guess I'm learning
    I must be warmer now
    I'll soon be turning, round the corner now
    Outside the dawn is breaking
    But inside in the dark I'm aching to be free
    The show must go on
    The show must go on
    Inside my heart is breaking
    My makeup may be flaking
    But my smile, still, stays on
    My soul is painted like the wings of butterflies
    Fairy tales of yesterday, grow but never die
    I can fly, my friends
    The show must go on
    The show must go on
    I'll face it with a grin
    I'm never giving in
    On with the show
    I'll top the bill
    I'll overkill
    I have to find the will to carry on
    On with the show
    Show
    Show must go on, go on, go on, go on, go on, go on, go on, go on

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Adding it to a variable.
lyric = "Empty spaces, what are we living for? Abandoned places, I guess we know the score, on and on Does anybody know what we are looking for? Another hero, another mindless crime Behind the curtain, in the pantomime Hold the line Does anybody want to take it anymore? The show must go on The show must go on, yeah Inside my heart is breaking My makeup may be flaking But my smile, still, stays on Whatever happens, I'll leave it all to chance Another heartache, another failed romance, on and on Does anybody know what we are living for? I guess I'm learning I must be warmer now I'll soon be turning, round the corner now Outside the dawn is breaking But inside in the dark I'm aching to be free The show must go on The show must go on Inside my heart is breaking My makeup may be flaking But my smile, still, stays on My soul is painted like the wings of butterflies Fairy tales of yesterday, grow but never die I can fly, my friends The show must go on The show must go on I'll face it with a grin I'm never giving in On with the show I'll top the bill I'll overkill I have to find the will to carry on On with the show Show Show must go on, go on, go on, go on, go on, go on, go on, go on"
print(lyric)

Empty spaces, what are we living for? Abandoned places, I guess we know the score, on and on Does anybody know what we are looking for? Another hero, another mindless crime Behind the curtain, in the pantomime Hold the line Does anybody want to take it anymore? The show must go on The show must go on, yeah Inside my heart is breaking My makeup may be flaking But my smile, still, stays on Whatever happens, I'll leave it all to chance Another heartache, another failed romance, on and on Does anybody know what we are living for? I guess I'm learning I must be warmer now I'll soon be turning, round the corner now Outside the dawn is breaking But inside in the dark I'm aching to be free The show must go on The show must go on Inside my heart is breaking My makeup may be flaking But my smile, still, stays on My soul is painted like the wings of butterflies Fairy tales of yesterday, grow but never die I can fly, my friends The show must go on The show must go on I'll face it with a grin I'm never giving in On with the show I'll top the bill I'll overkill I have to find the will to carry on On with the show Show Show must go on, go on, go on, go on, go on, go on, go on, go on

In [3]:
freq = {key: lyric.count(key) for key in lyric}
frequency = list([(k, v) for k, v in freq.items()])
print (f"Per char frequency is :\n {str(freq)}")

Per char frequency is :
 {'E': 1, 'm': 30, 'p': 10, 't': 63, 'y': 26, ' ': 239, 's': 53, 'a': 58, 'c': 14, 'e': 96, ',': 23, 'w': 31, 'h': 50, 'r': 43, 'l': 41, 'i': 56, 'v': 9, 'n': 81, 'g': 32, 'f': 14, 'o': 87, '?': 4, 'A': 3, 'b': 15, 'd': 23, 'I': 15, 'u': 22, 'k': 15, 'D': 3, 'B': 4, 'H': 1, 'T': 6, 'M': 3, 'W': 1, "'": 8, 'O': 3, 'F': 1, 'S': 2}

In [4]:
tabla = pd.DataFrame(data={"Characters": list(freq.keys()), "Frecuency":list(freq.values())}).sort_values(by="Frecuency").reset_index(drop=True)
display(tabla.head(5))
display(tabla.tail(5))

  Characters  Frecuency
0          E          1
1          W          1
2          H          1
3          F          1
4          S          2

   Characters  Frecuency
33          t         63
34          n         81
35          o         87
36          e         96
37                   239

In [5]:
total_frecuency = sum(tabla.Frecuency)
print(f"The total frecuency is {total_frecuency} characters\nThe total number of characters are: {tabla.Characters.count()}")

The total frecuency is 1186 characters
The total number of characters are: 38

In [6]:
tabla["Probability"] = tabla.Frecuency/total_frecuency
tabla['Log2(p)'] = np.log2(tabla.Probability)
tabla["p*Log2(P)"] = tabla.Probability * tabla["Log2(p)"]
display(tabla.head(5))
display(tabla.tail(5))

  Characters  Frecuency  Probability    Log2(p)  p*Log2(P)
0          E          1     0.000843 -10.211888  -0.008610
1          W          1     0.000843 -10.211888  -0.008610
2          H          1     0.000843 -10.211888  -0.008610
3          F          1     0.000843 -10.211888  -0.008610
4          S          2     0.001686  -9.211888  -0.015534

   Characters  Frecuency  Probability   Log2(p)  p*Log2(P)
33          t         63     0.053120 -4.234608  -0.224941
34          n         81     0.068297 -3.872038  -0.264448
35          o         87     0.073356 -3.768945  -0.276474
36          e         96     0.080944 -3.626926  -0.293579
37                   239     0.201518 -2.311021  -0.465712

In [7]:
entropy=sum(tabla['p*Log2(P)'])*-1
print("Calculated entropy:", entropy)

Calculated entropy: 4.32258302671316

### Computing the Huffman Tree Encoding

In [8]:
#Creating Nodes and Classes.
class Nodes():
    
    #Predifined values to start with the class
    def __init__(self, left=None, right=None):
        self.left= left
        self.right = right
    def children(self):
        #Returning as tuplas
        return (self.left, self.right)
    def nodes(self):
        #Returning as tuplas
        return (self.left,self.right)
    def __str__(self):
        return '%s_%s' % (self.left, self.right)

In [9]:
# Main function implementing huffman coding
def huffman(node, left=True, separetor=''):
    #Checking for the values to be string.
    if type(node) is str:
        #Returning the value as dictionary
        return {node: separetor}
    #Making a tuple
    (l, r) = node.children()
    #Empty dictionary
    d = dict()
    #Updating nodes/ leafes
    #Updating left side with 0
    d.update(huffman(l, True, separetor + '0'))
    #Updating right side with 0
    d.update(huffman(r, False, separetor + '1'))
    #Returning eachside. 
    return d

In [10]:
nodes=frequency
#Runing while exist one node to add.
while len(nodes) > 1:
    #Starting with small node and join the letter with the frecuency
    (key1, c1) = nodes[-1]
    #print(key1, c1)
     #Starting with small node and join the letter with the frecuency
    (key2, c2) = nodes[-2]
    #print(key2,c2)
    #Updating
    nodes = nodes[:-2]
    #print(nodes)
    #Nodes letters
    node = Nodes(key1, key2)
    #print(node)
    #Adding new values to the node of each side.
    nodes.append((node, c1 + c2))
    #Sorting as the same af the frecuency.
    nodes = sorted(nodes, key=lambda x: x[1], reverse=True)

In [11]:
#Getting the dictionary
codification = huffman(nodes[0][0])
#Converting to a DataFrame to be better to  work with
codification = pd.DataFrame(data={"Characters": list(codification.keys()), "Encoding":list(codification.values())}).sort_values(by="Characters").reset_index(drop=True)

In [12]:
#Joining the first dataframe with the second of encoding values sorted by charactes (because those are the values that those share)
tabla2 = tabla.join(codification.set_index('Characters'), on='Characters', how="right").sort_values(by="Characters")
#Just resting the index
tabla3 = tabla2[["Characters", "Encoding"]].reset_index(drop=True)
#Confirminf if the whole values are equal, just as a comprobation. 
print(f"We comprobed that the values from each dataframe are the same: {tabla3.equals(codification)}")
display(tabla3.head(10))

We comprobed that the values from each dataframe are the same: True

  Characters     Encoding
0                      00
1          '      0110111
2          ,       110011
3          ?     01101101
4          A    111000101
5          B     01101100
6          D    111000100
7          E   1110000000
8          F   1110000011
9          H  11100000011

In [13]:
tabla2.reset_index(drop=True, inplace=True)
tabla2.sort_values(by="Frecuency", inplace=True)
tabla2["Lenght"] = tabla2["Encoding"].str.len()
tabla2["Total_Lenght"] = tabla2["Lenght"]*tabla2["Frecuency"]
tabla2.reset_index(drop=True, inplace=True)
tabla2

,Characters,Frecuency,Probability,Log2(p),p*Log2(P),Encoding,Lenght,Total_Lenght
0,E,1,0.000843,-10.211888,-0.008610,1110000000,10,10
1,F,1,0.000843,-10.211888,-0.008610,1110000011,10,10
2,H,1,0.000843,-10.211888,-0.008610,11100000011,11,11
3,W,1,0.000843,-10.211888,-0.008610,11100000010,11,11
4,S,2,0.001686,-9.211888,-0.015534,1110000010,10,20
5,M,3,0.002530,-8.626926,-0.021822,111000111,9,27
6,A,3,0.002530,-8.626926,-0.021822,111000101,9,27
7,D,3,0.002530,-8.626926,-0.021822,111000100,9,27
8,O,3,0.002530,-8.626926,-0.021822,111000110,9,27
9,?,4,0.003373,-8.211888,-0.027696,01101101,8,32
10,B,4,0.003373,-8.211888,-0.027696,01101100,8,32
11,T,6,0.005059,-7.626926,-0.038585,11100001,8,48
12,',8,0.006745,-7.211888,-0.048647,0110111,7,56
13,v,9,0.007589,-7.041963,-0.053438,1010000,7,63
14,p,10,0.008432,-6.889960,-0.058094,1010001,7,70
15,c,14,0.011804,-6.404533,-0.075602,010001,6,84
16,f,14,0.011804,-6.404533,-0.075602,010000,6,84
17,I,15,0.012648,-6.304998,-0.079743,010011,6,90
18,b,15,0.012648,-6.304998,-0.079743,011010,6,90
19,k,15,0.012648,-6.304998,-0.079743,010010,6,90
20,u,22,0.018550,-5.752457,-0.106707,101001,6,132
21,d,23,0.019393,-5.688326,-0.110313,110010,6,138
22,",",23,0.019393,-5.688326,-0.110313,110011,6,138
23,y,26,0.021922,-5.511449,-0.120824,111001,6,156
24,m,30,0.025295,-5.304998,-0.134190,01100,5,150
25,w,31,0.026138,-5.257692,-0.137427,01110,5,155
26,g,32,0.026981,-5.211888,-0.140624,01111,5,160
27,l,41,0.034570,-4.854336,-0.167814,10101,5,205
28,r,43,0.036256,-4.785624,-0.173509,11000,5,215
29,h,50,0.042159,-4.568032,-0.192581,11101,5,250
30,s,53,0.044688,-4.483968,-0.200380,11110,5,265
31,i,56,0.047218,-4.404533,-0.207971,11111,5,280
32,a,58,0.048904,-4.353907,-0.212923,0101,4,232
33,t,63,0.053120,-4.234608,-0.224941,1000,4,252
34,n,81,0.068297,-3.872038,-0.264448,1001,4,324
35,o,87,0.073356,-3.768945,-0.276474,1011,4,348
36,e,96,0.080944,-3.626926,-0.293579,1101,4,384
37,,239,0.201518,-2.311021,-0.465712,00,2,478

In [14]:
to_freq_encoding=sum(tabla2.Total_Lenght)
print(f"Total encoding frequency: {to_freq_encoding}")

Total encoding frequency: 5171

### Compressing

In [15]:
#Getting the Letter + its encoding value
coding_dic=pd.Series(tabla2.Encoding.values,tabla2.Characters.values).to_dict()
print(coding_dic)

{'E': '1110000000', 'F': '1110000011', 'H': '11100000011', 'W': '11100000010', 'S': '1110000010', 'M': '111000111', 'A': '111000101', 'D': '111000100', 'O': '111000110', '?': '01101101', 'B': '01101100', 'T': '11100001', "'": '0110111', 'v': '1010000', 'p': '1010001', 'c': '010001', 'f': '010000', 'I': '010011', 'b': '011010', 'k': '010010', 'u': '101001', 'd': '110010', ',': '110011', 'y': '111001', 'm': '01100', 'w': '01110', 'g': '01111', 'l': '10101', 'r': '11000', 'h': '11101', 's': '11110', 'i': '11111', 'a': '0101', 't': '1000', 'n': '1001', 'o': '1011', 'e': '1101', ' ': '00'}

In [16]:
#Using other varible
encoded_text=lyric

for i in coding_dic:
    #Replacing each character by its code.
    encoded_text = encoded_text.replace(i, coding_dic[i])

In [17]:
print(encoded_text)

11100000000110010100011000111001001111010100010101010001110111110110011000111011101010110000001011100011010001110110100101011111110100001111110010111100010000101111000011011010011100010101101001011001110010101110011101110010001010001101010101010001110111110110011000100110001111101001110111110111100001110110100010010100110110111000100011101110100111100100011011110001101110011001011100100010110011100100010111001001110001001011110111110000101100111100101101010111100101110010001001010011011011100001110111010101100000011101101000101110001101001010110111011010010111111001011110001000010111100001101101001110001011001101110001110111011100000111011101110001011110011000101100110111000111011101110000001100111111001110010101011101111101111000010001110001111101100110100011011001101111011111110011100100010001110111010001000110100111000100001011111110011100110011111100100100011101110100101000101011001100010110110011111011001101001110000001110111010111001000100011101110100101011111110011101001110001001011110111110000101100111100101101010111100101110010001110010110011000001000101100100001010100101101001111110000001011001111001011001011110001101011011010011100001111011101001111011101101101110000110010100111110100000011111011001011100100111000011110111010011110111011011011100001100101001111101000000111110110010111001110011001110011101010111101000100111001111101111111001011010001100111001001110111010101110001000001111111110000110101100011010101010010111111001011110011100011111100100011000101010010110110100110100010001100010111100100011010110100010000101010101010010111111001011110001101100101001100000011001110010011110011001111110101110111001100111101000111111010110101110011001111010000101111001111100010111001001110000001011101010110001101101000011011100000111010101101000110100011101100111110110011000100110110111101011010100101011101010110100001101001111110000001011010110101001000101100010001111010101100101000111010011100010110011011100011101110111000001110111010101110001000010101000111101110111001100010110011011100011101110111000000100000101111111010111011100100011000101101100010110010100011101110011001011100100010110011100100010111001001110001001011110111110000101100111100101101010111100101110010001001010011011011100001110111010101100000011101101000101110001101001010111111101000011111100101111000100001011110000110110100010011000111110100111011111011110000100110110111011000010101110101011100010011111110010111100010011000110010100111110100000011010110100011100101110000110011011100000100110110111000010011011011110101101010011110101110111001000110101101001000101001110001001111111001011111100110011000101110100110011100100010001110111010001000110111100010011101110000010011011011100011100011010100110001111011111110010110100100011101110100110010010101110100100111111111000011010110001101010101001011111100101111000110110010100110000011111100111110111111100101101001111110010010001110111010011001001011100001001000010011011011101100000101010001111011111110010111100100010110001101011010001000011000110111010011100001111011101001111011101101101110000110010100111110100000011111011001011100100111000011110111010011110111011011011100001100101001111101000000111110110010111001000100111001111101111111001011010001100111001001110111010101110001000001111111110000110101100011010101010010111111001011110011100011111100100011000101010010110110100110100010001100010111100100011010110100010000101010101010010111111001011110001101100101001100000011001110010011110011001111110101110111001100111101000111111010110101110011001111010000101111001111100010111001001110001111110010011110101110100110101001111111110001010001010111111100110001101110010001010111111010010110100100011101110100011101111110010111111110001011010000000110101010011000100011011100001000010101111111101111100011100000110101111111100011100100100001011010111011111000101101000000111001110111110100011011100011001001011110011100110001111110001011011100001101010100110000010011101101000011011100000110010111111101000100110001000101011001000100001010111100111001100011001110010001000011000111111101100111001011110001110000111101110100111101110110110111000011001010011111010000001111101100101110010011100001111011101001111011101101101110000110010100111110100000011111011001011100100010011011011110101101010001000001010100011101001111110000001110111111000111010001010001111110001111110010001001101101110110000100111011010000110111000000111111111101000011111100101111001111110010011100011010010001110111111000111010010001110111010011110111011011011100001001101101111010110101001000101110100010010001110111010001101011111101011010100010011011011110101101010010111010000110111000010010111111010110101000100110011101010110100001101001000101100010000111111001110010001000111011101000111011111101011010100100010110001000101011100011000111001001011100100111000110100100011101111110001110100100011101110100111101110110110111000111000001011101101101110001110000010111011011011100001100101001111101000000111110110010111001110011000111110110010111001110011000111110110010111001110011000111110110010111001110011000111110110010111001110011000111110110010111001110011000111110110010111001110011000111110110010111001

In [18]:
#To generate the string.
decoded_text = ''
#Droping iterator beacuse it is not used
for _ in range(len(lyric)):
    
    for char, code in coding_dic.items():
       #Getting the letter and the code
        try:
            post = encoded_text.index(code)
            if post == 0:
                decoded_text = decoded_text + char
                encoded_text = encoded_text[len(code):]
        except:
            continue

In [19]:
print(decoded_text)

Empty spaces, what are we living for? Abandoned places, I guess we know the score, on and on Does anybody know what we are looking for? Another hero, another mindless crime Behind the curtain, in the pantomime Hold the line Does anybody want to take it anymore? The show must go on The show must go on, yeah Inside my heart is breaking My makeup may be flaking But my smile, still, stays on Whatever happens, I'll leave it all to chance Another heartache, another failed romance, on and on Does anybody know what we are living for? I guess I'm learning I must be warmer now I'll soon be turning, round the corner now Outside the dawn is breaking But inside in the dark I'm aching to be free The show must go on The show must go on Inside my heart is breaking My makeup may be flaking But my smile, still, stays on My soul is painted like the wings of butterflies Fairy tales of yesterday, grow but never die I can fly, my friends The show must go on The show must go on I'll face it with a grin I'm never giving in On with the show I'll top the bill I'll overkill I have to find the will to carry on On with the show Show Show must go on, go on, go on, go on, go on, go on, go on, go on

In [20]:
print(f"The total characters decodificated from the decoded_text are: {len(decoded_text)} wich is the same as the beggining")

The total characters decodificated from the decoded_text are: 1186 wich is the same as the beggining

In [25]:
by_hand = pd.read_excel("Entropy Verify.xlsx")
by_hand=by_hand.iloc[0:38]
by_hand.drop(columns="Encoding", inplace=True)
by_hand["Encoding"] =["10","00","110","010","1110","0110","11110","01110","111110","011110","1111110","0111110","11111110","01111110","111111110","1111111110","011111110","0111111110","01111111110","11111111110","011111111110","0111111111110","111111111110","1111111111110","01111111111110","11111111111110","011111111111110","0111111111111110","111111111111110","011111111111111111","01111111111111110","1111111111111110","11111111111111110","111111111111111111","1111111111111111101","1111111111111111100","0111111111111111101","0111111111111111100"]
by_hand=by_hand[["Characters","Frecuency","Probability","Log2(p)","p*Log2(P)","Encoding","Lenght","Total_Lenght"]]
by_hand.sort_values(by="Frecuency", inplace=True)
by_hand.Encoding=by_hand.Encoding.astype(np.int64)
by_hand.reset_index(drop=True, inplace=True)
by_hand

,Characters,Frecuency,Probability,Log2(p),p*Log2(P),Encoding,Lenght,Total_Lenght
0,W,1,0.00084317,-10.2119,-0.00861036,111111111111111100,19.0,19
1,E,1,0.00084317,-10.2119,-0.00861036,1111111111111111101,19.0,19
2,H,1,0.00084317,-10.2119,-0.00861036,111111111111111101,19.0,19
3,F,1,0.00084317,-10.2119,-0.00861036,1111111111111111100,19.0,19
4,S,2,0.00168634,-9.21189,-0.0155344,111111111111111111,18.0,36
5,O,3,0.00252951,-8.62693,-0.0218219,11111111111111110,17.0,51
6,M,3,0.00252951,-8.62693,-0.0218219,1111111111111110,16.0,48
7,D,3,0.00252951,-8.62693,-0.0218219,1111111111111110,17.0,51
8,A,3,0.00252951,-8.62693,-0.0218219,11111111111111111,18.0,54
9,B,4,0.00337268,-8.21189,-0.0276961,111111111111110,15.0,60
10,?,4,0.00337268,-8.21189,-0.0276961,111111111111110,16.0,64
11,T,6,0.00505902,-7.62693,-0.0385848,11111111111110,15.0,90
12,',8,0.00674536,-7.21189,-0.0486468,11111111111110,14.0,112
13,v,9,0.00758853,-7.04196,-0.0534382,1111111111110,14.0,126
14,p,10,0.0084317,-6.88996,-0.0580941,1111111111110,13.0,130
15,f,14,0.0118044,-6.40453,-0.0756016,111111111110,12.0,168
16,c,14,0.0118044,-6.40453,-0.0756016,111111111110,13.0,182
17,I,15,0.0126476,-6.305,-0.0797428,11111111110,11.0,165
18,k,15,0.0126476,-6.305,-0.0797428,11111111110,12.0,180
19,b,15,0.0126476,-6.305,-0.0797428,1111111110,11.0,165
20,u,22,0.0185497,-5.75246,-0.106707,111111110,10.0,220
21,d,23,0.0193929,-5.68833,-0.110313,11111110,9.0,207
22,",",23,0.0193929,-5.68833,-0.110313,1111111110,10.0,230
23,y,26,0.0219224,-5.51145,-0.120824,111111110,9.0,234
24,m,30,0.0252951,-5.305,-0.13419,1111110,8.0,240
25,w,31,0.0261383,-5.25769,-0.137427,11111110,8.0,248
26,g,32,0.0269815,-5.21189,-0.140624,111110,7.0,224
27,l,41,0.03457,-4.85434,-0.167814,1111110,7.0,287
28,r,43,0.0362563,-4.78562,-0.173509,11110,6.0,258
29,h,50,0.0421585,-4.56803,-0.192581,111110,6.0,300
30,s,53,0.044688,-4.48397,-0.20038,1110,5.0,265
31,i,56,0.0472175,-4.40453,-0.207971,11110,5.0,280
32,a,58,0.0489039,-4.35391,-0.212923,110,4.0,232
33,t,63,0.0531197,-4.23461,-0.224941,1110,4.0,252
34,n,81,0.0682968,-3.87204,-0.264448,10,3.0,243
35,o,87,0.0733558,-3.76894,-0.276474,110,3.0,261
36,e,96,0.0809444,-3.62693,-0.293579,0,2.0,192
37,""" """,239,0.201518,-2.31102,-0.465712,10,2.0,478

In [26]:
a,b = sum(tabla2.Total_Lenght),sum(by_hand["Total_Lenght"])
print(f"Is the sum of frequencies of the generated encoding equal to the 'by hand' method?: {a==b}.\nNo, because for the machine method is: {a} and by hand method is: {b}")

Is the sum of frequencies of the generated encoding equal to the 'by hand' method?: False.
No, because for the machine method is: 5171 and by hand method is: 6409

In [27]:
tabla2.Encoding = tabla2.Encoding.astype(np.int64)
a,b = sum(tabla2.Encoding.values),sum(by_hand.Encoding.values)
print(f"Is the generated encoding the same for every letter as the 'by hand' one?: {a==b}\nNo, because for the machine method is: {a} and by hand method is: {b}")

Is the generated encoding the same for every letter as the 'by hand' one?: False
No, because for the machine method is: 25989977791 and by hand method is: 2580246913580246834

In [34]:
#Extra encoding in 8 bits:
print(f"Machine computing: Encoding 8 bits:{(tabla2.Frecuency.sum())*8} ")
print(f"By Hand computing: Encoding 8 bits:{(by_hand.Frecuency.sum())*8} ")

Machine computing: Encoding 8 bits:9488
By Hand computing: Encoding 8 bits:9488

### Another way to prove this is:

In [29]:
print(f"Are those the same: {tabla2.equals(by_hand)}")

Are those the same: False

This way cheek if the whole dataframe are the same.